<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            Compromisso
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="eventoFormulario">
            <mat-form-field appearance="outline" class="input">
                <mat-label>Titulo</mat-label>
                <input matInput  type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline " class="input">
                <mat-label>Descrição</mat-label>
                <input matInput  type="text" formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Data Inicio</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="start">
                <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="alterarRegistro"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Data Termino</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="picker1" [disabled]="alterarRegistro"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Hora Inicio</mat-label>
                <input matInput  type="time" #time formControlName="startHour">
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="input">
                <mat-label>Hora Termino</mat-label>
                <input matInput  type="time" #time formControlName="endHour">
            </mat-form-field>
            <mat-form-field  [appearance]="'outline'">
                <mat-label>Cor</mat-label>
                <mat-select formControlName="color" >
                  <mat-option value="BLUE" [disabled]="alterarRegistro"> Azul </mat-option>
                  <mat-option value="RED" [disabled]="alterarRegistro"> Vermelho </mat-option>
                  <mat-option value="GREEN" [disabled]="alterarRegistro"> Verde </mat-option>
                  <mat-option value="YELLOW" [disabled]="alterarRegistro"> Amarelo </mat-option>
                  <mat-option value="PURPLE" [disabled]="alterarRegistro"> Roxo </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="alterarRegistro">Salvar</button>
        <button mat-raised-button color="warn" (click)="editar()" [disabled]="!alterarRegistro">Editar</button>
        <button mat-raised-button color="primary" (click)="deletar()" [disabled]="!alterarRegistro">Deletar</button>
        <button mat-raised-button color="warn" (click)="fecharModal()">Fechar</button>


    </mat-card-actions>
 
</mat-card>